@model DepartmentManagementSystem.Models.departmentitemedit.AddItem
@{

}
<h1>Add Item</h1>
<form method="post" action="Add">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Category</label>
        <input type="text" class="form-control" asp-for="Category">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Price</label>
        <input type="number" class="form-control" asp-for="price">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>